@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #000;
}

header {
  background-color: #c60000;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-icons {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.total-world {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d20000;
}

.world-map-img {
  width: 45%;
  padding: 10% 0 10% 1%;
  filter: invert(100%) sepia(77%) saturate(0%) hue-rotate(4deg) brightness(101%) contrast(101%);
}

.total-world-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

.city-text {
  justify-items: flex-start;
  font-weight: bold;
  font-size: small;
  margin-right: 2%;
}

.text-views {
  font-size: x-small;
  margin: 0;
}

.players-city {
  background-color: #1d0061;
  padding: 2%;
  font-size: x-small;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.city-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 44%;
  padding: 3%;
  background-color: #1300a5;
}

.map{
  filter: invert(97%) sepia(97%) saturate(13%) hue-rotate(253deg) brightness(102%) contrast(85%);
}

.city-container:nth-child(25),
.city-container:nth-child(24),
.city-container:nth-child(21),
.city-container:nth-child(20),
.city-container:nth-child(17),
.city-container:nth-child(16),
.city-container:nth-child(13),
.city-container:nth-child(12),
.city-container:nth-child(9),
.city-container:nth-child(8),
.city-container:nth-child(5),
.city-container:nth-child(4),
.city-container:nth-child(1) {
  background-color: #110091;
}

.show-icon {
  border: none;
  align-self: flex-end;
  background-color: transparent;
  margin-left: 15%;
  cursor: pointer;
}

.list-players {
  margin: 0;
  padding: 0;
}

.player-container {
  display: flex;
  align-items: center;
  background-color: #100089;
  padding: 5%;
}

.player-container:nth-child(even) {
  background-color: #1300a5;
}

.player-list-container-views {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.player-views {
  margin-right: 10%;
}

.name-city {
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.total-city {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d20000;
}

.total-city-second-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1300a5;
}

form {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3%;
  font-size: xx-small;
}
